  <li>
  <%= link_to 'Question', question %>
  <% @question = question %>
  <p><strong><%= question.title %>?:</strong>
  <%= question.content %> | votecount: <%= question.points %> | <%= link_to "up", upvote_question_path(question), method: :post %> <%= link_to "down", downvote_question_path(question), method: :post %></p>
</li>